.header {
  padding: 20px 0px 20px 0px;
}
.left {
  padding: 0% 1% 0% 2%;
}
.right {
  padding: 7px 1% 0% 0%
}
.chart-card-pie {
  border-bottom: 10px solid rgba(255, 120, 0, 0.5);
}
.chart-text-pie {
  color: rgba(255, 120, 0, 0.8);
  padding: 25px;
  text-align: center;
}
.chart-card-bar {
  border-bottom: 10px solid rgba(28, 212, 202, 0.5);
}
.chart-text-bar {
  color: rgba(28, 212, 202, 0.8);
  padding: 25px;
  text-align: center;
}
.confirmed-card {
  border-bottom: 10px solid rgba(0, 0, 255, 0.5);
}

.confirmed-text {
  color: rgba(0, 0, 255, 0.8);
}

.recovered-card {
  border-bottom: 10px solid rgba(0, 255, 0, 0.5);
}

.recovered-text {
  color: rgba(0, 255, 0, 0.8);
}

.deaths-card {
  border-bottom: 10px solid rgba(255, 0, 0, 0.5);
}

.deaths-text {
  color: rgba(255, 0, 0, 0.8);
}

.vaccines-card {
  border-bottom: 10px solid rgba(28, 212, 202, 0.5);
}

.vaccines-text {
  color: rgba(28, 212, 202, 0.8);
}


.api-text {
  color: rgba(0, 0, 255, 0.8);
  text-align: center;
}